.container
  .upper-container
    .plan-box
      %ul.plans
        - @plans.each do |plan|
          %li.plan
            = plan.content

    .cut-box
  .lower-container
    %ul.month-lists
      - @months.each do |month|
        %li.month-list
          = month.name
          - month.cards.each do |card|
            .card
              .card__title
                = card.title
              .card__content
                = card.content
              .card__plan
                = card.plan.content
