.container
  .upper-container
    .plan-box
      %ul.plans
        - @plans.each do |plan|
          %li.plan
            = plan.content
            = plan.cards.length

    .cut-box
  .lower-container
    %ul.month-lists
      - @months.each do |month|
        %li.month-list
          = month.name
          - month.cards.each do |card|
            = link_to "/cards/#{card.id}" do
              .card
                .card__title
                  = card.title
                .card__content
                  = card.content
                .card__plan
                  = card.plan.content
                  = link_to "done", "/cards/#{card.id}/done"

