.container
  .upper-container
    .plan-box
      %ul.plans
        - @plans.each do |plan|
          %li.plan
            = link_to "/plans/#{plan.id}" do
              = plan.content
            = plan.cards.length
            = plan.cards.where(status: "done").length
            - if plan.cards.length != 0
              = "達成率#{((plan.cards.where(status: "done").length).to_f / (plan.cards.length).to_f * 100).round(1)}%"

    .routines-box
      - @routines.each do |routine|
        = routine.content
        = routine.count
  .lower-container
    %ul.month-lists
      - @months.each do |month|
        %li.month-list
          = month.name
          - month.cards.each do |card|
            = link_to "/cards/#{card.id}" do
              .card
                .card__title
                  = card.title
                .card__content
                  = card.content
                .card__plan
                  = card.plan.content
                  = link_to "done", "/cards/#{card.id}/done"
                  = link_to "削除", "/cards/#{card.id}", method: :delete

